# exclude everything except the files and directories we want to include

node_modules/
dist/

# include the src directory and its contents
!src/
!src/*
!tsconfig.json

# include the package.json and README.md files
!package.json
!README.md

# include the LICENSE file (replace with your own license file if needed)
!LICENSE

!.github/
